body{
	background-image: url("../images/texture.jpg");

}
a{
	cursor:pointer;
}
.banner{
	display: flex;
	align-items:center;

	background-image: url("../images/texture.jpg");

}
.logoPic{

	width: 137px;
	height: auto;
	float: left;
}
.bannertext h1{
	
	font-family:"Alfa Slab One";
	font-color:black;
	font-size:400%;
	text-shadow: 3px 3px 10px #adadad;
}
.bannertext h5{
	font-family:"Josefin Sans";
	
}
.menu{
	display: flex;
	justify-content: flex-end;
	

}
.menu li{
	background-color: #f44336b0;
	margin: 10px;
}
.menu a{
	color:#fff9f9;
}
ul.nav > li > a:hover {
    background-color: #ff0000;
    color:white;
}
ul.nav > li > a:focus {
    
    color:#020202;
}

.mainContent{
	background-color: #e8e8e8b0;
	min-height:900px;
	 box-shadow: 1px 1px 30px;
	 font-size:150%;
	 margin-bottom:10px;
	 padding:10px;
	 position:relative;
}

.pichomepage{
	
	display: block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
   
}
.mainContent h1{
	font-family:"Alfa Slab One";
	text-align:center;
}
.IntroduceText{
	font-family:"Risque";
	text-align:justify;
	text-indent:40px;
	line-height:200%
}
.navleft ul{
	background-color: #560c0cb0;

}
.navleft a{
	color:white;
}
.ads ul{
	height:500px;
	overflow:hidden;
	background-color: #bf9999b0;
	padding:30px;
	list-style-type: none;
	text-align: justify;
	box-shadow:3px 3px 10px;
}
.ads img{
	width: 100%;
	
}
.ads a,h2{
	color:black;
	text-align: center;
}
footer{
	clear:both;
	text-align:right;
	 background-color:#8e8e8d63;
	 margin-bottom:0px;
	 border-top:solid white 1px;
	 padding:5px;
	 
}
.btn-default{
	background-color: #7f4639bf;
    color:white;
    padding: 10px 20px;
}
.btn-default:hover{
	background-color: #7f4639;
    color:white;
    padding: 10px 20px;
}
.form-control:focus {
  border-color: #cca090;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.registerform{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	
}
.pagination{
	position:absolute;
	bottom:0;
	right:20px;

}
.pagination>li>a,
.pagination>li>span {
  background: #8249827a;
  color: #f9f9f9;
}
.pagination>li.active>a {
  background: #824982;
  color: #f9f9f9;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
     background: #824982;
  color: #f9f9f9;
}
.product{
	border:solid black 2px;
	border-radius:10px;
	margin: 2px;
	margin-bottom:10px;
	height:200px;
	padding:10px;
	overflow:hidden;
	background-color:#ff980040;
	text-align:left;
	color:#888787;
}
a.product:hover h2,a.product:hover{
background-color:#E91E63;
text-decoration:none;
color:white !important;
}
.product img{
	height:180px;
	width:180px;
	margin-right:10px;
	float:left
}
.product h2{
	font-weight:bold;
	text-align:left;
	color:#564d4a;
}
.audiocontrol{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:60%;
}
.listnhac{
	display:block;
	border:solid #0308cc 1px;
	margin:20px auto;
	width:60%;
	font-size:80%;
	height:400px;
	overflow:auto;
	overflow-x: hidden;

	list-style-position: inside;
	padding-left:0;
	border-radius:20px;
	box-shadow: #6f297b 3px 3px 20px;
}
.listnhac li{
	padding:10px;
	background-color:#fff280;
}
.listnhac a{
	color:blue;
}
.listnhac li:hover{

	background-color:#FF9800;
}
.listnhac a:hover{
		text-decoration:none;
		color:white;
}
#btnAddToCart{
	display:block;
	background-color: #E91E63;
	border:solid black 1px;
	padding: 10px;
	border-radius:20px;
	color:#fffcfc;
	margin:20px auto;
	width:240px;
}
#btnAddToCart:hover{
	background-color: #9c27b0;
	color:#ffffff;
	text-decoration:none;
}
.introducePic{
	display:block;
	width:30%;
	margin:20px auto;
}
.price{
	text-align:right;
	margin-right:20px;
}
.introduceProductText{
	text-indent:40px;
	text-align:justify;
}
.frmSubsribe{
	display:block;
	width:30%;
	margin:20px auto;
}