
		<aside class="col-sm-2 ads">
			<ul>
				<li>
			
			<h2><strong>Album mới nhất</strong></h2>
			<a href="#">
			<h4><strong>Nơi này có anh</strong></h4>
			<img src="files/images/album/noinaycoanh.jpg" alt="albumpic">
			</a>
			<p>"Nơi này có anh" là sáng tác Sơn Tùng dành tặng những người yêu mến anh trong suốt thời gian qua. Nam ca sĩ từng chia sẻ anh xem họ như "người yêu" của mình nên muốn gửi ca khúc mới như món quà Valentine đầy ý nghĩa. Đây cũng là lần đầu tiên nam ca sĩ viết một ca khúc về đề tài tình yêu hạnh phúc, với sự hỗ trợ trong phần sản xuất từ producer Khắc Hưng.</p>
				
			</li>
			</ul>
		</aside>
	

	