<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Hao's music store</title>
	<link rel="stylesheet" href="files/css/bootstrap.min.css">
    <link rel="stylesheet" href="files/css/music-store.css">
    <link href="files/css/font-custom.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="banner clearfix">
			<img src="files/images/logo.png" class="logoPic" alt="logo">
			<div class="bannertext">
				<h1>Welcome to Hao's music store</h1>
				<h5>Những bản nhạc mới và chất lượng nhất luôn được cập nhật</h5>
			</div>
		</div>
		<nav class="menu">
			<ul class="nav nav-pills">
				<li><a th:href="@{/login}"><span class="glyphicon glyphicon-user"></span> Đăng Nhập </a></li>
				<li><a th:href="@{/deletecookies}"><span class="glyphicon glyphicon-remove-circle"></span> Xóa bộ nhớ đệm</a></li>
				<li><a><span class="glyphicon glyphicon-shopping-cart"></span> Giỏ hàng</a></li>
			</ul>
		</nav>
	</header>
	
	<nav class="navleft col-sm-2">
			<ul class="nav nav-pills nav-stacked">
				<li><a th:href="@{/}">Trang chủ</a></li>	
				<li><a th:href="@{/products}">Sản phẩm</a></li>	
				<li><a href="#">Đăng kí nhận email</a></li>	
				<li><a href="#">Chăm sóc khách hàng</a></li>	
			</ul>
		</nav>
		