<div th:replace="header_menubar.html"></div>
		<div class="mainContent col-sm-8" >
		<article>
			<h1>Chào mừng đến với Hao's Music store</h1>
			<img src="files/images/index.jpg" width="500px" class="pichomepage">
			<div class="IntroduceText">
			<p>Cuộc sống luôn vội vã và bận rộn. Hãy chậm lại 1 phút để lắng nghe những giai điệu nhẽ nhàng, thưởng thức những bản nhạc tinh tế. Hãy dành thời gian để chăm sóc tâm hồn mình sau những ngày làm việc căng thẳng. Bạn sẽ cảm thấy cuộc đời này trở nên thú vị hơn.</p>
			<p>Website của chúng tôi sưu tầm những bản nhạc với nhiều thể loại mà bạn có thể nghe online. Nếu bạn tìm thấy 1 album ưng ý, chúng tôi hi vọng bạn sử dụng trang này để đặt hàng, nó cũng là kinh phí giúp chúng tôi duy trì site để có thể phục vụ bạn nhiều hơn.</p>
			<p>Mọi album của chúng tôi đều có chất lượng cao lossless, được free ship trên toàn quốc,cùng với poster tinh tế kèm chữ kí của ca/nhạc sĩ thể hiện.
			</p>
			</div>
		</article>
		</div>
<div th:replace="asideADS.html"></div>
<div th:replace="footer.html"></div>