<div th:replace="header_menubar.html"></div>
	<div class="mainContent col-sm-8" >
		<article>
			<h1>Albumn mới cập nhật</h1>
			<form class="navbar-form navbar-right" >
				<div class="input-group">
					<a>
						<input class="form-control" type="text" placeholder="Tìm album">

						<span class="input-group-addon" style="height: 34px;"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
					</a>

				</div>
			</form>

			<a class="row col-sm-12 product">
				<img src="files/images/album/noinaycoanh.jpg" alt="productimage">
				<h2>Nơi này có anh</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed explicabo, harum nobis architecto. Minus, voluptas. Distinctio voluptatibus iure, cupiditate recusandae possimus eveniet quidem, nam, totam illo, delectus aspernatur aut.</p>
				
			</a>

			<a class="row col-sm-12 product">
				<img src="files/images/album/noinaycoanh.jpg" alt="productimage">
				<h2>Nơi này có anh</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed explicabo, harum nobis architecto. Minus, voluptas. Distinctio voluptatibus iure, cupiditate recusandae possimus eveniet quidem, nam, totam illo, delectus aspernatur aut.</p>

			</a>

			<a class="row col-sm-12 product">
				<img src="files/images/album/noinaycoanh.jpg" alt="productimage">
				<h2>Nơi này có anh</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed explicabo, harum nobis architecto. Minus, voluptas. Distinctio voluptatibus iure, cupiditate recusandae possimus eveniet quidem, nam, totam illo, delectus aspernatur aut.</p>
				
			</a>

			<!--Pagination-->
			<ul class="pagination">
				<li ><a href="#">1</a></li>
				<li ><a href="#">2</a></li>
				<li class="active"><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
			<!--End Pagination-->


		</article>
	</div>
	<div th:replace="asideADS.html"></div>
<div th:replace="footer.html"></div>