<div th:replace="header_menubar.html"></div>
	<div class="mainContent col-sm-8" >
		<article>
			<h1 th:text="'Album '+${product.productName}"></h1>
			<p class="price" th:text="'Giá '+${product.productPrice}"></p>
			<img th:attr="src=files+${product.imageURL}" alt="albumpic" class="introducePic">
		
			<audio controls th:attr="src=files+${songPlay.exampleSongURL}" type="audio/mpeg" class="audiocontrol">
				
				Your browser does not support the audio element.
			</audio>
		
		<ol class="listnhac">
			
			<div th:each="song : ${listSong}">
			<a th:if="${song.isExample==1}" th:attr="href=@{/productdetail?id=}+${product.productId}+'&songname='+${song.exampleSongName}"><li th:text="${song.exampleSongName}"></li></a>
			<li th:if="${song.isExample==0}" th:text="${song.exampleSongName}"></li>
			</div>
			
		</ol>
		<p class="introduceProductText" th:text="${product.productDescription}"></p>
		<div class="buttonn">
		<a id="btnAddToCart" th:attr="href=@{/addtocart?id=}+${product.productId}"><span class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ hàng</a>
		<a id="btnDownload" th:attr="href=@{/download?id=}+${product.productId}"><span class="glyphicon glyphicon-circle-arrow-down"></span> Tải xuống albumn</a>
		</div>
		</article>
	</div>

		<aside class="col-sm-2 ads">
			<ul>
				<li>
			
			<h2><strong>Bài hát đang nghe</strong></h2>
			<a href="#">
			<h4><strong th:text="${songPlay.exampleSongName}"></strong></h4>
			<img src="files/images/play.gif" alt="albumpic">
			</a>
			<p class="chucngenhac" style="text-align:center; font-size:200%; font">Chúc bạn nghe nhạc vui vẻ :D</p>
				
			</li>
			</ul>
		</aside>
<div th:replace="footer.html"></div>
	