<div th:replace="header_menubar.html"></div>
	<div class="mainContent col-sm-8" >
		<article>
			<h1>Albumn Nơi này có anh</h1>
			<p class="price">Giá: 35000đ</p>
			<img src="files/images/album/noinaycoanh.jpg" alt="albumpic" class="introducePic">

			<audio controls autoplay src="files/music/noinaycoanh.MP3" type="audio/mpeg" class="audiocontrol">
				
				Your browser does not support the audio element.
			</audio>
		
		<ol class="listnhac">
			<a href=""><li>Nơi này có anh- Sơn Tùng MTP</li></a>
			<a href=""><li>Như ngày hôm qua- Sơn Tùng MTP</li></a>
			<a href=""><li>Chạy ngay đi- Sơn Tùng MTP</li></a>
			<li>Cơn mưa ngang qua</li>
		</ol>
		<p class="introduceProductText">"Nơi này có anh" là sáng tác Sơn Tùng dành tặng những người yêu mến anh trong suốt thời gian qua. Nam ca sĩ từng chia sẻ anh xem họ như "người yêu" của mình nên muốn gửi ca khúc mới như món quà Valentine đầy ý nghĩa. Đây cũng là lần đầu tiên nam ca sĩ viết một ca khúc về đề tài tình yêu hạnh phúc, với sự hỗ trợ trong phần sản xuất từ producer Khắc Hưng.</p>
		<div class="buttonn">
		<a id="btnAddToCart"><span class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ hàng</a>
		<a id="btnDownload"><span class="glyphicon glyphicon-circle-arrow-down"></span> Tải xuống albumn</a>
		</div>
		</article>
	</div>
<div th:replace="play.html"></div>
<div th:replace="footer.html"></div>
	