<div th:replace="header_menubar.html"></div>
	<div class="mainContent col-sm-8" >
		<article>
			<h1>Đăng kí nhận Email</h1>
			<p>Khi bạn tick vào đây, bạn sẽ nhận được email quảng cáo của chúng tôi. Những sản phẩm mới và chất lượng sẽ được giới thiệu đến bạn hàng tuần.</p>
			<p>Bạn có muốn nhận email từ chúng tôi không?</p>
			<form action="" class="frmSubsribe" >
				<div class="form-group">
				 <input type="checkbox" name="sub" value="Bike" id="usr"> 
  				<label for="usr">Tôi sẽ nhận email</label>
  				</div>
 					 <input  class="btn btn-default" type="submit" value="Đồng ý" style="width: 140px;">

			</form>
		</article>
	</div>
	
	<div th:replace="asideADS.html"></div>
<div th:replace="footer.html"></div>