<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hao's music store</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/music-store.css">
    <link href="css/font-custom.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="banner clearfix">
			<img src="images/logo.png" class="logoPic" alt="logo">
			<div class="bannertext">
				<h1>Welcome to Hao's music store</h1>
				<h5>Những bản nhạc mới và chất lượng nhất luôn được cập nhật</h5>
			</div>
		</div>
		<nav class="menu">
			<ul class="nav nav-pills">
				<li><a>Đăng Nhập </a></li>
				<li><a>Xóa bộ nhớ đệm</a></li>
				<li><a>Giỏ hàng</a></li>
			</ul>
		</nav>
	</header>
	
	<nav class="navleft col-sm-2">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#">Trang chủ</a></li>	
				<li><a href="#">Sản phẩm</a></li>	
				<li><a href="#">Đăng kí nhận email</a></li>	
				<li><a href="#">Chăm sóc khách hàng</a></li>	
			</ul>
		</nav>
		<div class="mainContent col-sm-8" >
		<article>
			<h1>Chào mừng đến với Hao's Music store</h1>
			<img src="images/index.jpg" width="500px" class="pichomepage">
			<div class="IntroduceText">
			<p>Cuộc sống luôn vội vã và bận rộn. Hãy chậm lại 1 phút để lắng nghe những giai điệu nhẽ nhàng, thưởng thức những bản nhạc tinh tế. Hãy dành thời gian để chăm sóc tâm hồn mình sau những ngày làm việc căng thẳng. Bạn sẽ cảm thấy cuộc đời này trở nên thú vị hơn.</p>
			<p>Website của chúng tôi sưu tầm những bản nhạc với nhiều thể loại mà bạn có thể nghe online. Nếu bạn tìm thấy 1 album ưng ý, chúng tôi hi vọng bạn sử dụng trang này để đặt hàng, nó cũng là kinh phí giúp chúng tôi duy trì site để có thể phục vụ bạn nhiều hơn.</p>
			<p>Mọi album của chúng tôi đều có chất lượng cao lossless, được free ship trên toàn quốc,cùng với poster tinh tế kèm chữ kí của ca/nhạc sĩ thể hiện.
			</p>
			</div>
		</article>
		</div>
		<aside class="col-sm-2 ads">
			<ul>
				<li>

			<h2>Album mới nhất</h2>
			<h4>Nơi này có anh</h4>
			<img src="images/album/noinaycoanh.jpg" alt="albumpic">
			
			<p>Nội dụng description. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus a rem minus temporibus doloremque. Esse in illum aliquid beatae nobis harum vero facilis, enim autem numquam nam perspiciatis consequatur error!</p>
			</li>
			</ul>
		</aside>
	

	<footer >
		<hr>
		<h5>Coppyright &copy; Đặng Thanh Hào. Website được phát triển bởi Đặng Thanh Hào</h5>
		<h6>Sản phẩm cuối môn JAVA nâng cao :) </h6>
	</footer>
</body>
</html>