<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hao's music store</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/music-store.css">
	<link href="css/font-custom.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="banner clearfix">
			<img src="images/logo.png" class="logoPic" alt="logo">
			<div class="bannertext">
				<h1>Welcome to Hao's music store</h1>
				<h5>Những bản nhạc mới và chất lượng nhất luôn được cập nhật</h5>
			</div>
		</div>
		<nav class="menu">
			<ul class="nav nav-pills">
				<li><a><span class="glyphicon glyphicon-user"></span> Đăng Nhập </a></li>
				<li><a><span class="glyphicon glyphicon-remove-circle"></span> Xóa bộ nhớ đệm</a></li>
				<li><a><span class="glyphicon glyphicon-shopping-cart"></span> Giỏ hàng</a></li>
			</ul>
		</nav>
	</header>
	
	<nav class="navleft col-sm-2">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#">Trang chủ</a></li>	
			<li><a href="#">Sản phẩm</a></li>	
			<li><a href="#">Đăng kí nhận email</a></li>	
			<li><a href="#">Chăm sóc khách hàng</a></li>	
		</ul>
	</nav>
	<div class="mainContent col-sm-8" >
		<article>
			<h1>Albumn Nơi này có anh</h1>
			<p class="price">Giá: 35000đ</p>
			<img src="images/album/noinaycoanh.jpg" alt="albumpic" class="introducePic">

			<audio controls autoplay src="music/noinaycoanh.MP3" type="audio/mpeg" class="audiocontrol">
				
				Your browser does not support the audio element.
			</audio>
		
		<ol class="listnhac">
			<a href=""><li>Nơi này có anh- Sơn Tùng MTP</li></a>
			<a href=""><li>Như ngày hôm qua- Sơn Tùng MTP</li></a>
			<a href=""><li>Chạy ngay đi- Sơn Tùng MTP</li></a>
			<li>Cơn mưa ngang qua</li>
		</ol>
		<p class="introduceProductText">"Nơi này có anh" là sáng tác Sơn Tùng dành tặng những người yêu mến anh trong suốt thời gian qua. Nam ca sĩ từng chia sẻ anh xem họ như "người yêu" của mình nên muốn gửi ca khúc mới như món quà Valentine đầy ý nghĩa. Đây cũng là lần đầu tiên nam ca sĩ viết một ca khúc về đề tài tình yêu hạnh phúc, với sự hỗ trợ trong phần sản xuất từ producer Khắc Hưng.</p>

		<a id="btnAddToCart"><span class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ hàng</a>
		
		</article>
	</div>
	<aside class="col-sm-2 ads">
		<ul>
			<li>

				<h2><strong>Album mới nhất</strong></h2>
				<a href="#">
					<h4><strong>Nơi này có anh</strong></h4>
					<img src="images/album/noinaycoanh.jpg" alt="albumpic">
				</a>
				<p>"Nơi này có anh" là sáng tác Sơn Tùng dành tặng những người yêu mến anh trong suốt thời gian qua. Nam ca sĩ từng chia sẻ anh xem họ như "người yêu" của mình nên muốn gửi ca khúc mới như món quà Valentine đầy ý nghĩa. Đây cũng là lần đầu tiên nam ca sĩ viết một ca khúc về đề tài tình yêu hạnh phúc, với sự hỗ trợ trong phần sản xuất từ producer Khắc Hưng.</p>

			</li>
		</ul>
	</aside>


	<footer >

		<h5><strong>Coppyright &copy; Đặng Thanh Hào. Website được phát triển bởi Đặng Thanh Hào</strong></h5>
		<h6><strong>Sản phẩm cuối môn JAVA nâng cao :) </strong></h6>
	</footer>
</body>
</html>