<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hao's music store</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/music-store.css">
	<link href="css/font-custom.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="banner clearfix">
			<img src="images/logo.png" class="logoPic" alt="logo">
			<div class="bannertext">
				<h1>Welcome to Hao's music store</h1>
				<h5>Những bản nhạc mới và chất lượng nhất luôn được cập nhật</h5>
			</div>
		</div>
		<nav class="menu">
			<ul class="nav nav-pills">
				<li><a><span class="glyphicon glyphicon-user"></span> Đăng Nhập </a></li>
				<li><a><span class="glyphicon glyphicon-remove-circle"></span> Xóa bộ nhớ đệm</a></li>
				<li><a><span class="glyphicon glyphicon-shopping-cart"></span> Giỏ hàng</a></li>
			</ul>
		</nav>
	</header>
	
	<nav class="navleft col-sm-2">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#">Trang chủ</a></li>	
			<li><a href="#">Sản phẩm</a></li>	
			<li><a href="#">Đăng kí nhận email</a></li>	
			<li><a href="#">Chăm sóc khách hàng</a></li>	
		</ul>
	</nav>
	<div class="mainContent col-sm-8" >
		<article>
			<h1>Albumn mới cập nhật</h1>
			<form class="navbar-form navbar-right" >
				<div class="input-group">
					<a>
						<input class="form-control" type="text" placeholder="Tìm album">

						<span class="input-group-addon" style="height: 34px;"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
					</a>

				</div>
			</form>

			<a class="row col-sm-12 product">
				<img src="images/album/noinaycoanh.jpg" alt="productimage">
				<h2>Nơi này có anh</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed explicabo, harum nobis architecto. Minus, voluptas. Distinctio voluptatibus iure, cupiditate recusandae possimus eveniet quidem, nam, totam illo, delectus aspernatur aut.</p>
				
			</a>

			<a class="row col-sm-12 product">
				<img src="images/album/noinaycoanh.jpg" alt="productimage">
				<h2>Nơi này có anh</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed explicabo, harum nobis architecto. Minus, voluptas. Distinctio voluptatibus iure, cupiditate recusandae possimus eveniet quidem, nam, totam illo, delectus aspernatur aut.</p>

			</a>

			<a class="row col-sm-12 product">
				<img src="images/album/noinaycoanh.jpg" alt="productimage">
				<h2>Nơi này có anh</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed explicabo, harum nobis architecto. Minus, voluptas. Distinctio voluptatibus iure, cupiditate recusandae possimus eveniet quidem, nam, totam illo, delectus aspernatur aut.</p>
				
			</a>

			<!--Pagination-->
			<ul class="pagination">
				<li ><a href="#">1</a></li>
				<li ><a href="#">2</a></li>
				<li class="active"><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
			<!--End Pagination-->


		</article>
	</div>
	<aside class="col-sm-2 ads">
		<ul>
			<li>

				<h2><strong>Album mới nhất</strong></h2>
				<a href="#">
					<h4><strong>Nơi này có anh</strong></h4>
					<img src="images/album/noinaycoanh.jpg" alt="albumpic">
				</a>
				<p>"Nơi này có anh" là sáng tác Sơn Tùng dành tặng những người yêu mến anh trong suốt thời gian qua. Nam ca sĩ từng chia sẻ anh xem họ như "người yêu" của mình nên muốn gửi ca khúc mới như món quà Valentine đầy ý nghĩa. Đây cũng là lần đầu tiên nam ca sĩ viết một ca khúc về đề tài tình yêu hạnh phúc, với sự hỗ trợ trong phần sản xuất từ producer Khắc Hưng.</p>

			</li>
		</ul>
	</aside>


	<footer >

		<h5><strong>Coppyright &copy; Đặng Thanh Hào. Website được phát triển bởi Đặng Thanh Hào</strong></h5>
		<h6><strong>Sản phẩm cuối môn JAVA nâng cao :) </strong></h6>
	</footer>
</body>
</html>