USE [master]
GO
/****** Object:  Database [MusicStore]    Script Date: 5/25/2018 1:32:04 AM ******/
CREATE DATABASE [MusicStore]
 
GO
USE [MusicStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/25/2018 1:32:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[UsersName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[Permission] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UsersName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Download]    Script Date: 5/25/2018 1:32:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Download](
	[DownloadID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DownloadDate] [datetime] NOT NULL,
	[ProductCode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DownloadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 5/25/2018 1:32:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[TotalAmount] [float] NOT NULL,
	[IsProcessed] [int] NULL,
 CONSTRAINT [PK__Invoice__D796AAD520883BFA] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LineItem]    Script Date: 5/25/2018 1:32:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineItem](
	[LineItemID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LineItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/25/2018 1:32:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NULL,
	[ProductDescription] [nvarchar](100) NULL CONSTRAINT [DF__Product__Product__36B12243]  DEFAULT (''),
	[ProductPrice] [decimal](7, 2) NULL CONSTRAINT [DF__Product__Product__37A5467C]  DEFAULT ('0.00'),
	[ProductURL] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](max) NULL,
 CONSTRAINT [PK__Product__B40CC6EDB79BE31B] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SongExample]    Script Date: 5/25/2018 1:32:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongExample](
	[ProductID] [int] NOT NULL,
	[ExampleSongName] [nvarchar](50) NOT NULL,
	[ExampleSongURL] [nvarchar](max) NULL,
	[IsExample] [int] NULL,
 CONSTRAINT [PK_SongExample] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[ExampleSongName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/25/2018 1:32:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[City] [nvarchar](50) NULL,
	[CreditCardType] [nvarchar](50) NULL,
	[CreditCardNumber] [varchar](50) NULL,
	[CreditCardExpirationDate] [varchar](50) NULL,
	[UserAccount] [varchar](50) NULL,
	[Subcribes] [int] NULL,
 CONSTRAINT [PK__Users__1788CCAC4C419BBB] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([UsersName], [Password], [Permission]) VALUES (N'abcpower123', N'suhao123', 0)
INSERT [dbo].[Account] ([UsersName], [Password], [Permission]) VALUES (N'ao', NULL, 0)
INSERT [dbo].[Account] ([UsersName], [Password], [Permission]) VALUES (N'hao', N'123', 1)
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice], [ProductURL], [ImageURL]) VALUES (1, N'Nhạc không lời-giai điệu cuộc sống', N'Tuyển tập các bản nhạc không lời hay nhất', CAST(50000.00 AS Decimal(7, 2)), N'/product/giaidieucuocsong.rar', N'/images/album/giaidieucuocsong.jpg')
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice], [ProductURL], [ImageURL]) VALUES (2, N'Tuổi học trò', N'Tuyển tập các bài hát về thời học sinh đầy kỉ niệm', CAST(30000.00 AS Decimal(7, 2)), N'/product/tuoihoctro.rar', N'/images/album/tuoihoctro.jpg')
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductDescription], [ProductPrice], [ProductURL], [ImageURL]) VALUES (3, N'Nơi này có anh', N'Album mới phát hành của ca sĩ ST MTP', CAST(40000.00 AS Decimal(7, 2)), N'/product/noinaycoanh.rar', N'/images/album/noinaycoanh.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[SongExample] ([ProductID], [ExampleSongName], [ExampleSongURL], [IsExample]) VALUES (1, N'Forever', NULL, 0)
INSERT [dbo].[SongExample] ([ProductID], [ExampleSongName], [ExampleSongURL], [IsExample]) VALUES (1, N'Hope you', N'/music/hope u.MP3', 1)
INSERT [dbo].[SongExample] ([ProductID], [ExampleSongName], [ExampleSongURL], [IsExample]) VALUES (1, N'In love', N'/music/in love.MP3', 1)
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [Email], [CompanyName], [Address], [City], [CreditCardType], [CreditCardNumber], [CreditCardExpirationDate], [UserAccount], [Subcribes]) VALUES (1, N'Đặng Thanh Hào', N'aszqsc@gmail.com', N'Đại học SP', N'Liên Chiểu, Đà Nẵng', N'Đà Nẵng', N'VISA', N'123654', N'2020/1/1', N'hao', NULL)
INSERT [dbo].[Users] ([UserID], [Name], [Email], [CompanyName], [Address], [City], [CreditCardType], [CreditCardNumber], [CreditCardExpirationDate], [UserAccount], [Subcribes]) VALUES (2, N'dang thanh', N'aszqsc@gmail.com', N'asd', N'diachi', N'danang', N'student', N'123', N'2/2/2100.', NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Name], [Email], [CompanyName], [Address], [City], [CreditCardType], [CreditCardNumber], [CreditCardExpirationDate], [UserAccount], [Subcribes]) VALUES (3, N'hovaten1', N'email1@gmail.com', N'noilamviec1', N'diachi1', N'thanhpho1', N'the1', N'123', N'1/1/1', N'taikhoan1', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF__Invoice__Invoice__2C3393D0]  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF__Invoice__TotalAm__2D27B809]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[LineItem] ADD  DEFAULT ('1') FOR [InvoiceID]
GO
ALTER TABLE [dbo].[LineItem] ADD  DEFAULT ('1') FOR [ProductID]
GO
ALTER TABLE [dbo].[LineItem] ADD  DEFAULT ('1') FOR [Quantity]
GO
ALTER TABLE [dbo].[Download]  WITH CHECK ADD  CONSTRAINT [FK__Download__UserID__3A81B327] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Download] CHECK CONSTRAINT [FK__Download__UserID__3A81B327]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK__Invoice__UserID__2B3F6F97] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK__Invoice__UserID__2B3F6F97]
GO
ALTER TABLE [dbo].[LineItem]  WITH CHECK ADD  CONSTRAINT [FK__LineItem__Invoic__30F848ED] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO
ALTER TABLE [dbo].[LineItem] CHECK CONSTRAINT [FK__LineItem__Invoic__30F848ED]
GO
ALTER TABLE [dbo].[LineItem]  WITH CHECK ADD  CONSTRAINT [FK_LineItem_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineItem] CHECK CONSTRAINT [FK_LineItem_Product]
GO
ALTER TABLE [dbo].[SongExample]  WITH CHECK ADD  CONSTRAINT [FK_SongExample_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SongExample] CHECK CONSTRAINT [FK_SongExample_Product]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Account] FOREIGN KEY([UserAccount])
REFERENCES [dbo].[Account] ([UsersName])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Account]
GO
USE [master]
GO
